parameters:
  autoload_directories:
        - %rootDir%/../src
        - %rootDir%/../tests
  autoload_files:
        - %rootDir%/../tests/WordpressHelperShortCodesTest.php
  ignoreErrors:
    # Magic calls
    - '/Method Mockery\\MockInterface::shouldReceive\(\) invoked with 1 parameter, 0 required/'
    - '/Method Mockery\\MockInterface::shouldNotReceive\(\) invoked with 1 parameter, 0 required/'